<h1 class="align-center"><%= @user.first_name %></h1>
<h2 class="align-center"><%= @user.last_name %></h2>

<h2 class="align-center">This is your motorbikes</h2>

<div class="container mt-3">
  <div class="row">
  <%  @user_motorbikes.each do |motorbike| %>
          <div class="col-4" class="motorbike-index-card-div" >
        <%= link_to motorbike_path(motorbike), class: 'text-decoration-none' do %>
              <div class="card" id="card-block">
            <%= cl_image_tag motorbike.photo.key, class: "moto-photo" %>
              <div class="motorbike-card-content">
                <div class="motorbike-card-title">
                  <h5 class="card-title"><%= motorbike.name %></h5>
                </div>
                <p class="card-text"><%= motorbike.description %></p>
                <div class="flex">
                  <div class="flex-align-items-center">
                    <p class="card-text"><%= motorbike.price %> € /day</p>
                  </div>
                </div>
              </div>
              <div class="motorbike-card-actions">
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
