<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1 class="justify-center">All our Motorbikes</h1>
    </div>
  </div>

  <div class="col">
    <% if @query %>
      <p>You searched for <strong><%= @query %></strong>. We found <%= @motorbikes.count %> motorbikes out of our <%= Motorbike.count %> on our website</p>
    <% else %>
      <p class="justify-center">We have <%= Motorbike.count %> motorbikes on our website.</p>
    <% end %>
  </div>

  <%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.google.com/url?sa=i&url=http%3A%2F%2Fparisbyscooter.com%2Fscooter-rental-paris%2F&psig=AOvVaw2VTCq1dmN8CxrdHCBzsRCq&ust=1692903506852000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCPCPhZO784ADFQAAAAAdAAAAABAJ);">
    <div class="container">
      <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
      <p>Change your life and learn to code at one of our campuses around the world.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div> %>

  <div class="row">
    <% @motorbikes.each do |motorbike| %>
      <div class="col-4" class="motorbike-index-card-div" >
        <%= link_to motorbike_path(motorbike), class: 'text-decoration-none' do %>
              <div class="card" id="card-block">
            <%= cl_image_tag motorbike.photo.key, class: "moto-photo" %>
              <div class="motorbike-card-content">
                <div class="motorbike-card-title">
                  <h5 class="card-title"><%= motorbike.name %></h5>
                </div>
                <p class="card-text"><%= motorbike.description %></p>
                <div class="flex">
                  <div class="flex-align-items-center">
                    <p class="card-text"><%= motorbike.price %> € /day</p>
                  </div>
                </div>
              </div>
              <div class="motorbike-card-actions">
                <%#= link_to "More info", motorbike_path(motorbike), class: "card-link" %>
                <%# <%= link_to "Edit", edit_motorbike_path(motorbike), class: "btn btn-secondary" %>
                <%# <%= link_to "Remove", motorbike_path(motorbike), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }, class: "btn btn-danger" %>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
