<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Motorbikes</h1>
    </div>
  </div>

  <div class="col">
    <% if @query %>
      <p>You searched for <strong><%= @query %></strong>. We found <%= @motorbikes.count %> motorbikes out of our <%= Motorbike.count %> on our website</p>
    <% else %>
      <p>We have <%= Motorbike.count %> motorbikes on our website.</p>
    <% end %>
  </div>

  <div class="row">
    <% @motorbikes.each do |motorbike| %>
      <div class="col-4">
         <div class="card">
             <%= image_tag motorbike.photo %>
              <div class="motorbike-card-content">
                <div class="motorbike-card-title">
                  <h5 class="card-title"><%= motorbike.name %></h5>
                </div>
                <p class="card-text"><%= motorbike.description %></p>
                <div class="flex">
                  <div class="flex-align-items-center">
                    <p class="card-text"><%= motorbike.price %> €</p>
                  </div>
                </div>
              </div>
              <div class="motorbike-card-actions">
                <%= link_to "More info", motorbike_path(motorbike), class: "btn btn-primary" %>
                <%# <%= link_to "Edit", edit_motorbike_path(motorbike), class: "btn btn-secondary" %>
                <%# <%= link_to "Remove", motorbike_path(motorbike), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }, class: "btn btn-danger" %>
              </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
